.productCard {
   float: left;
   width: 30%;
   text-align: center;
   
}

.productCard img{
   width: 180px;
   height: 180px;
   border: 1px solid rgba(0,0,0,0.1);
   border-radius: 20px;
}

.productCard img:hover {
   outline: 5px solid #ffb71b;
   outline-offset: -3px;
   transition: 0.5s;
   
}

.productCard p {
   font-size: 0.9rem;
   margin-bottom: 20px;
}

.price {
   font-weight: bold;
   color: red;
   
}