.headerTopWrap {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.logo img{
   width: 150px;
   height: auto;
}

.menu ul {
   display: flex;
   align-items: center;
}

.menu ul li {
   list-style: none;
   padding: 5px 30px;
   font-size: 1.1rem;
}

.menu ul li:last-child {
   padding-right: 0px;
}

.menu ul li a {
   text-decoration: none;
   color: #222;
}