.wrap {
   width: 100%;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   
 }

 .join {
   width: 40%;
   height: 800px;
   margin-top: 200px;
   background: #f3f3f3;
   border-radius: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }

 .join h2 {
   font-size: 2em;
 }

 .email_title {
  float:left
 }

 .join_id {
  margin-top: 20px;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.join_id p {
  font-size: 0.5rem;
}

.join_id input {
  width: 80%;
  height: 50px;
  border-radius: 30px;
  margin-top: 10px;
  padding: 0px 20px;
  border: 1px solid lightgray;
  outline: none;
}

 .join_input {
   margin-top: 20px;
   width: 80%;
 }

 .join_input input {
   width: 80%;
   height: 50px;
   border-radius: 30px;
   margin-top: 10px;
   padding: 0px 20px;
   border: 1px solid lightgray;
   outline: none;
 }

 .join_btn {
   margin-top: 40px;
   width: 80%;
 }

 .activeBtn {
   width: 100%;
   height: 50px;
   text-align: center;
   border-radius: 40px;
   background-color: #ffb71b;
   color: white;
   font-size: 1.2em;
   cursor: pointer;
 }

 .disabledBtn {
  width: 100%;
  height: 50px;
  text-align: center;
  border-radius: 40px;
  background-color: #f8deab;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
}
