.wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.login {
  width: 30%;
  height: 600px;
  background: #f3f3f3;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login h2 {
  font-size: 2em;
}

.login_input {
  margin-top: 20px;
  width: 80%;
}

.login_input input {
  width: 80%;
  height: 50px;
  border-radius: 30px;
  margin-top: 10px;
  padding: 0px 20px;
  border: 1px solid lightgray;
  outline: none;
}

.login_etc {
  padding: 10px;
  width: 80%;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.go_etc {
  cursor: pointer;
}

.login_btn {
  margin-top: 40px;
  width: 80%;
}

.login_btn p {
  width: 100%;
  height: 50px;
  text-align: center;
  border-radius: 40px;
  background-color: #ffb71b;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
}