.wrap {
   width: 30%;
   height: 450px;
   background: #f3f3f3;
   border-radius: 20px;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin: 30px auto;
 }

.pwChange {
   width: 70%;
   height: 50px;
   text-align: center;
   border-radius: 40px;
   background-color: #ffb71b;
   color: white;
   cursor: pointer;
}